<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.seata.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="org.apache.seata.model.Account">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectByUserId" resultType="org.apache.seata.model.Account">
        select id, user_id, money
        from account_tbl
        WHERE user_id = #{userId}
    </select>

    <update id="updateById" parameterType="org.apache.seata.model.Account">
        update account_tbl
        set money = #{money,jdbcType=INTEGER}
        where id = #{id}
    </update>

</mapper>