<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.seata.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="org.apache.seata.model.Order">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="commodity_code" property="commodityCode" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="money" property="money" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="org.apache.seata.model.Order">
        insert into order_tbl (user_id, commodity_code, count, money)
        values (#{userId,jdbcType=VARCHAR}, #{commodityCode,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER},
        #{money,jdbcType=INTEGER})
    </insert>

</mapper>