<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.seata.samples.integration.stock.mapper.TStockMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.seata.samples.integration.stock.entity.TStock">
        <id column="id" property="id"/>
        <result column="commodity_code" property="commodityCode"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , commodity_code, name, count
    </sql>

    <update id="decreaseStock">
        update t_stock
        set count = count - ${count}
        where commodity_code = #{commodityCode}
    </update>

</mapper>
