<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>%date %(${LOG_LEVEL_PATTERN:-%5p}) [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.seata.samples.account.persistence" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
